__pycache__/
*.py[cod]
.DS_Store
.ruff_cache/
.mypy_cache/
.pytest_cache/
tmp/
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
*.pdf
*.fls
*.fdb_latexmk
*.xdv
*.bcf
*.run.xml
build/
dist/
*.egg-info/
.venv/
